[submodule ".registry"]
	path = .registry
	url = https://github.com/mhpob/mhpob.r-universe.dev
	branch = HEAD
[submodule "glatos"]
	path = glatos
	url = https://github.com/ocean-tracking-network/glatos
[submodule "matos"]
	path = matos
	url = https://github.com/mhpob/matos
[submodule "miscYAPS"]
	path = miscYAPS
	url = https://github.com/robertlennox/miscYAPS
[submodule "ocean-tracking-network/YAPS"]
	path = ocean-tracking-network/YAPS
	url = https://github.com/ocean-tracking-network/yaps
[submodule "otndo"]
	path = otndo
	url = https://github.com/mhpob/otndo
[submodule "yaps"]
	path = yaps
	url = https://github.com/baktoft/yaps
	registered = false
