[submodule ".registry"]
	path = .registry
	url = https://github.com/mhpob/mhpob.r-universe.dev
	branch = HEAD
[submodule "crawl"]
	path = crawl
	url = https://github.com/NMML/crawl
	branch = devel
	registered = false
[submodule "glatos"]
	path = glatos
	url = https://github.com/ocean-tracking-network/glatos
	branch = dev
[submodule "matos"]
	path = matos
	url = https://github.com/mhpob/matos
[submodule "miscYAPS"]
	path = miscYAPS
	url = https://github.com/robertlennox/miscYAPS
[submodule "otndo"]
	path = otndo
	url = https://github.com/mhpob/otndo
[submodule "pathroutr"]
	path = pathroutr
	url = https://github.com/jmlondon/pathroutr
	registered = false
[submodule "rvdat"]
	path = rvdat
	url = https://github.com/mhpob/rvdat
[submodule "simfish"]
	path = simfish
	url = https://github.com/mhpob/simfish
[submodule "splusTimeDate"]
	path = splusTimeDate
	url = https://github.com/spkaluzny/splusTimeDate
	registered = false
[submodule "splusTimeSeries"]
	path = splusTimeSeries
	url = https://github.com/spkaluzny/splusTimeSeries
	registered = false
[submodule "yaps"]
	path = yaps
	url = https://github.com/baktoft/yaps
